.container {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .labelM {
    display: block;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .input {
    margin-right: 10px;
  }
  
  .radio-group, .checkbox-group {
    margin-bottom: 20px;
  }

  .spn{
    color: red;
  }
  
  .navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .requiredNotice {
    font-size: 12px;
    color: black;
  }
 
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .next-button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  